<div class="page-wrap">
  <div class="page-header">
    <h1>Reset your password</h1>
    <p>Enter and confirm new password to update it</p>
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="savePassword()">
    <div class="form-element">
      <mat-form-field appearance="outline">
        <mat-label>Enter a password</mat-label>
        <input matInput formControlName="password" (blur)="updatePasswordErrorMessage()" [type]="hide() ? 'password' : 'text'" required />
        @if (resetPasswordForm.get('password')?.invalid) {
          <mat-error>{{passwordErrorMessage()}}</mat-error>
        }
        <mat-hint>Must be at least 8 characters long and include a special character</mat-hint>
        <button
          matIconButton
          matSuffix
          (click)="clickPasswordEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>


    <div class="form-element">
      <mat-form-field appearance="outline">
        <mat-label>Re-enter password</mat-label>
        <input matInput formControlName="reenteredPassword" (blur)="updateReenteredPasswordErrorMessage()" [type]="hide() ? 'password' : 'text'" required />
        @if (resetPasswordForm.get('reenteredPassword')?.invalid || reenteredPasswordErrorMessage()) {
          <mat-error>{{reenteredPasswordErrorMessage()}}</mat-error>
        }
        <button
          matIconButton
          matSuffix
          (click)="clickPasswordEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>


    <div class="form-element">
      <div class="example-button-row">
        <button [disabled]="resetPasswordForm.invalid" matButton="filled" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>
