:host {
  font-size: 16px;
}

:host ::ng-deep .ag-theme-quartz .ag-cell {

  display: flex;
  align-items: center;
  font-size: 20px;
}

:host ::ng-deep .ag-theme-quartz .ag-header-cell-text {

  font-size: 18px;
  font-weight: 600;
}

.page {
  padding: 24px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: end;
  margin-bottom: 20px;
}

.header-row h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  color: #111827;
}

.header-row p {
  margin: 6px 0 0;
  color: #6b7280;
  font-size: 16px;
}

.actions {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.actions mat-icon {
  margin-right: 6px;
}

.layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.panel {
  padding: 20px;
  border-radius: 18px;
}

.panel-top {
  margin-bottom: 16px;
}

.search-box {
  width: 320px;
}

.grid-wrap {
  height: 470px;
  width: 100%;
}

.side-panel h2 {
  margin-top: 0;
}

.selected-box {
  display: grid;
  gap: 10px;
}

.muted {
  color: #6b7280;
}

@media (max-width: 1100px) {
  .layout {
    grid-template-columns: 1fr;
  }
}

:host ::ng-deep .ag-theme-quartz .row-active .ag-cell{

  background:#c8f7c5 !important;

}

:host ::ng-deep .ag-theme-quartz .row-disabled .ag-cell{

  background:#fff3cd !important;

}

:host ::ng-deep .ag-theme-quartz .row-unsupported .ag-cell{

  background:#ffd9d9 !important;

}

.info-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  padding: 18px 22px;
  margin-bottom: 20px;

  border-left: 5px solid #1976d2;
  border-radius: 14px;
  background: #f8fbff;
}

.info-card mat-icon {
  margin-top: 2px;
  font-size: 28px;
  width: 28px;
  height: 28px;
}

.info-card strong {
  display: block;
  margin-bottom: 6px;
  color: #0f172a;
}

.info-card p {
  margin: 0;
  color: #64748b;
  line-height: 1.5;
}

@media (max-width: 900px) {
  .header-row {
    flex-direction: column;
    align-items: start;
  }

  .search-box {
    width: 100%;
  }
}
