.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-details {
  width: 600px;
}

.profile-detail {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.profile-detail dt {
  font-weight: bold;
}

.profile-detail dd {
  margin: 0;
}
